[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"
  NODE_ENV = "production"
  NEXT_PUBLIC_API_URL = "https://retail-sales-backend.onrender.com"

[[redirects]]
  from = "/*"
  to = "/"
  status = 200


